<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luan.mbti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MBTI">
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NicknameActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".AccountActivity"></activity>
        <activity android:name=".IntjActivity"></activity>
        <activity android:name=".IntpActivity"></activity>
        <activity android:name=".EntjActivity"></activity>
        <activity android:name=".EntpActivity"></activity>
        <activity android:name=".InfjActivity"></activity>
        <activity android:name=".InfpActivity"></activity>
        <activity android:name=".EnfjActivity"></activity>
        <activity android:name=".EnfpActivity"></activity>
        <activity android:name=".IstjActivity"></activity>
        <activity android:name=".IsfjActivity"></activity>
        <activity android:name=".EstjActivity"></activity>
        <activity android:name=".EsfjActivity"></activity>
        <activity android:name=".IstpActivity"></activity>
        <activity android:name=".IsfpActivity"></activity>
        <activity android:name=".EstpActivity"></activity>
        <activity android:name=".EsfpActivity"></activity>

        <activity android:name=".MatchAllActivity"></activity>
        <activity android:name=".GameAllActivity"></activity>
        <activity android:name=".BookAllActivity"></activity>
        <activity android:name=".YoutubeAllActivity"></activity>
        <activity android:name=".MusicAllActivity"></activity>
        <activity android:name=".MovieAllActivity"></activity>
        <activity android:name=".DramaAllActivity"></activity>
        <activity android:name=".JobAllActivity"></activity>
    </application>

</manifest>